
h1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 94px;
display: flex;
align-items: flex-end;
text-align: center;
padding-left: 100px;
 

}
.blueword{
    color: rgb(17, 177, 226);
}


  

html, body {
  margin: 0;
  font-family: 'Roboto';
}
* {
  box-sizing: border-box;
  transition: .3s;
}
.title {
  text-decoration: none;
  color: #000;
}
.container {
  margin: auto;
  width: 1280px;
}
header {
  margin-bottom: 48px;
}
nav {
  display: flex;
  justify-content: center;
  background-color: #35444F;
}
.top-link {
  display: block;
  padding: 20px 32px;
  border-left: 1px solid white;
  color: #fff;
  text-decoration: none;
}
.top-link:last-child {
  border-right: 1px solid white;
}
.top-link:hover {
  background-color: #222F3A;
}

main {
  display: flex;
  justify-content: space-around;
}

aside {
  width: 334px;
  position: relative;
  flex-shrink: 0;
  border: 1px solid #000;
  margin-right: 48px;
  height: min-content;
}

.side-link {
  display: block;
  width: 100%;
  font-size: 20px;
  padding: 24px 40px;
  color: #000;
  text-decoration: none;
}
.side-link:hover {
  background-color: #DBDBDB;
}

.img-wrap {
  border: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 60px;
}
.img-wrap:hover > img {
  transform: scale(1.2);
}
footer {
  display: flex;
  justify-content: space-between;
  background-color: #63696E;
}
.footer-links {
  display: flex;
}
.footer-link {
  position: relative;
  display: block;
  padding: 20px 0;
  margin: 0 20px;
  text-decoration: none;
  color: #000;
}
.footer-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 10px;
  left: 0;
  background-color: #3181A6;
}
.footer-link:hover {
  color: #3181A6;
}
.footer-link:hover::after {
  width: 100%;
}
.copyright {
  display: block;
  padding: 20px;
}